/* Color Styles */
// Custom Colors
$brand-color:       #5f6061;
$brand-color-dark:  #3f3f3f;
$brand-color-light: #d1c3b8;
$red-color:         #ff3547;
$red-color-dark:    #c00;
$blue-color:        #2196f3;
$blue-color-dark:   #205c96;
$grey-color:        #ddd;
$grey-color-dark:   #6c757d;
$dark-color:        #121212;
$dark-color-light:  #333;
$light-color:       #fcfcfc;
$light-color-grey:  #ebebeb;
$white:             #fff;
$black:             #000;
$blue-grey-color:   #e9ecef;

// Material RGBA Colors
$rgba-blue-grey-slight:rgba(96, 125, 139, 0.1);
$rgba-blue-grey-light: rgba(96, 125, 139, 0.35);
$rgba-blue-grey-strong:rgba(96, 125, 139, 0.7);