@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|Noto+Serif:400,400i,700,700i&display=swap");
/* Color Styles */
/* Dark - Light Theme Var */
:root {
  --brand-color: #5f6061;
  --brand-color-dark: #3f3f3f;
  --brand-color-light: #d1c3b8;
  --red-color: #ff3547;
  --red-color-dark: #c00;
  --blue-color: #2196f3;
  --blue-color-dark: #205c96;
  --grey-color: #ddd;
  --grey-color-dark: #6c757d;
  --dark-color: #121212;
  --dark-color-light: #333;
  --light-color: #fcfcfc;
  --light-color-grey: #ebebeb;
  --white: #fff;
  --black: #000;
  --blue-grey-color: #e9ecef;
}

html {
  --bg-color: var(--light-color);
  --text-color: var(--dark-color-light);
  --bg-footer-color: var(--light-color-grey);
  --slick-arrow-color: var(--red-color-dark);
  --black-white: var(--black);
  --bg-navbar-color: var(--light-color);
  --bg-jumbotron-color: var(--blue-grey-color);
  --bg-blue-color: var(--blue-color);
}

html[data-theme="dark"] {
  --bg-color: var(--dark-color-light);
  --text-color: var(--light-color-grey);
  --bg-footer-color: var(--dark-color);
  --slick-arrow-color: var(--red-color);
  --black-white: var(--white);
  --bg-navbar-color: var(--light-color-grey);
  --bg-jumbotron-color: var(--grey-color);
  --bg-blue-color: var(--blue-color-dark);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

/* Variable Definitions */
/* Mixin Codes */
/* Config Styles */
body {
  font-family: 'Noto Serif', serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body .section-content {
  padding: 3rem 0;
}

body a {
  text-decoration: none !important;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slick Theme Styles */
/* Slider */
.slick-loading .slick-list {
  background: #fff url("././../images/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./../fonts/slick.eot");
  src: url("./../fonts/slick.eot?#iefix") format("embedded-opentype"), url("./../fonts/slick.woff") format("woff"), url("./../fonts/slick.ttf") format("truetype"), url("./../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 1;
  color: var(--slick-arrow-color);
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 10%;
  z-index: 10;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 10%;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: var(--black-white);
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: var(--black-white);
  opacity: 0.75;
}

/* Navbar Styles */
nav#primary-nav {
  background-color: var(--bg-navbar-color) !important;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

nav#primary-nav ul.navbar-nav li a {
  font-family: 'Noto Sans', sans-serif !important;
}

/* Footer Styles */
footer {
  background-color: var(--bg-footer-color);
}

/* Top Section */
#top .top-slide img {
  width: 70vw;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#top .top-slide img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#grid .container .row.grids {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (minmax(250px, 1fr))[5];
      grid-template-rows: repeat(5, minmax(250px, 1fr));
      grid-template-areas: 'grid-1 grid-1 grid-2' 'grid-1 grid-1 grid-5' 'grid-3 grid-4 grid-5' 'grid-6 grid-8 grid-8' 'grid-7 grid-8 grid-8';
}

#grid .container .row.grids .grid {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

#grid .container .row.grids .grid:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

#grid .container .row.grids .grid-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: grid-1;
}

#grid .container .row.grids .grid-1 .carousel-item {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 70vh;
}

#grid .container .row.grids .grid-1 .carousel-item .overlay {
  background-color: rgba(96, 125, 139, 0.35);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid .container .row.grids .grid-1 .carousel-item .overlay h1.display-4 {
  color: #fff;
}

#grid .container .row.grids .grid-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: grid-2;
  background-size: 45%;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #205c96;
  color: #fff;
}

#grid .container .row.grids .grid-2 a {
  color: #fff;
  text-decoration: none;
}

#grid .container .row.grids .grid-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: grid-3;
  background-size: 45%;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #d1c3b8;
  color: #000;
}

#grid .container .row.grids .grid-3 a {
  color: #000;
  text-decoration: none;
}

#grid .container .row.grids .grid-4,
#grid .container .row.grids .grid-6,
#grid .container .row.grids .grid-7 {
  background-size: 45%;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#grid .container .row.grids .grid-4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: grid-4;
  background-color: #2196f3;
  color: #fff;
}

#grid .container .row.grids .grid-4 a {
  color: #fff;
  text-decoration: none;
}

#grid .container .row.grids .grid-5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: grid-5;
  background-size: 55%;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: #6c757d;
  color: #fff;
}

#grid .container .row.grids .grid-5 a {
  color: #fff;
  text-decoration: none;
}

#grid .container .row.grids .grid-6 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: grid-6;
  background-color: #5f6061;
  color: #fff;
}

#grid .container .row.grids .grid-6 a {
  color: #fff;
  text-decoration: none;
}

#grid .container .row.grids .grid-7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: grid-7;
  background-color: #3f3f3f;
  color: #fff;
}

#grid .container .row.grids .grid-7 a {
  color: #fff;
  text-decoration: none;
}

#grid .container .row.grids .grid-8 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: grid-8;
}

#grid .container .row.grids .grid-8 .carousel-item {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 70vh;
}

#grid .container .row.grids .grid-8 .carousel-item .overlay {
  background-color: rgba(96, 125, 139, 0.35);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid .container .row.grids .grid-8 .carousel-item .overlay h1.display-4 {
  color: #fff;
}

#banner .jumbotron {
  background-color: var(--bg-jumbotron-color);
  color: #000;
}

aside .card-body {
  background-color: var(--bg-blue-color);
  color: #fff;
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  #grid .container .row.grids {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (250px)[6];
        grid-template-rows: repeat(6, 250px);
        grid-template-areas: 'grid-1 grid-1' 'grid-1 grid-1' 'grid-2 grid-3' 'grid-4 grid-5' 'grid-6 grid-7' 'grid-8 grid-8' 'grid-8 grid-8';
  }
  #grid .container .row.grids .grid-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: grid-1;
  }
  #grid .container .row.grids .grid-1 .carousel-item {
    height: 508px;
  }
  #grid .container .row.grids .grid-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: grid-2;
  }
  #grid .container .row.grids .grid-3 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: grid-3;
  }
  #grid .container .row.grids .grid-4 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: grid-4;
  }
  #grid .container .row.grids .grid-5 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: grid-5;
  }
  #grid .container .row.grids .grid-6 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: grid-6;
  }
  #grid .container .row.grids .grid-7 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: grid-7;
  }
  #grid .container .row.grids .grid-8 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: grid-8;
  }
  #grid .container .row.grids .grid-8 .carousel-item {
    height: 508px;
  }
}
